<h1 class="heading">API Call</h1>
<form [formGroup]="forms" (ngSubmit)="createNewUser()">
  <div>
      <label for="exampleFormControlInput1" class="form-label">Name </label>
      <input type="text" formControlName="name" placeholder="Enter your name">
  </div>
  <div>
      <label for="exampleFormControlInput1" class="form-label">email</label>
      <input type="text" placeholder="Enter mail here" formControlName="email">
  </div>
  <div>
      <label for="exampleFormControlInput1" class="form-label">phone</label>
      <input type="email" placeholder="enter phone number" formControlName="phone">
  </div>
  <div>
      <label for="exampleFormControlInput1" class="form-label">Web Address</label>
      <input type="email" placeholder="enter your web address" formControlName="website">
  </div>
  <div>
      <button type="submit">submit</button>
  </div>
</form>

<table class="table table-responsive">
  <thead>
      <tr>
          <th>s.no</th>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
          <th>website</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of getUserList">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.website}}</td>
      </tr>
  </tbody>
</table>